.cls-button{
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    width: 50%;
    margin: 10px;
   

}
button{
     border-radius: 5px;
     padding: 8px;
     border: none;
}

.navbar{

     
     display: flex;
  
}